.galeria-imagen {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    position: relative;
}

.galeria-imagen-inner {
    position: relative;
}

.galeria-imagen img {
    height: 125px;
}

.galeria-imagen .remove-imagen {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: block; /* Mostrar el botón de eliminar siempre */
}


#mapaModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#mapaModal #mapa {
    width: 50%;
    height: 80%;
    margin: 0 auto;
}

#mapa_correcto,
#cerrarModal {
  display: block;
  margin: 10px auto;
}

/* Estilos para el placeholder */
input::placeholder {
    text-align: right; /* Alinea el placeholder a la derecha */
    color: #bbb; /* Establece el color más apagado para el placeholder */
  }



   /* Estilos para la galeria de imagenes en la creación de inmuebles */
   #sortable { list-style-type: none; margin: 0; padding: 0; }
   #sortable li { display: inline-block; margin: 10px; position: relative; }
   #sortable li .remove-imagen { position: absolute; top: 5px; right: 5px; background-color: white; padding: 5px; border: none; }
   #sortable li img { width: 100px; height: 100px; display: block; }



   
